body {
    background-color: 	#ecf3f7;
    font-family: 'Lato', sans-serif;
    color: 	#404040;
}



/* Navbar code based on tutorial from w3schools https://www.w3schools.com/howto/howto_css_navbar_icon.asp and amended to suit my required style */

.header-text {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    padding-left: 12px;
    padding-right: 12px;
    
}



.header-text:hover {
    background-color: 	 #007380;
    text-decoration: none;
    color: white;
   
   
}

.navbar {
  width: 100%;
  background-color: #008a99;
  overflow: auto;
}

.navbar-right a {
  float: right;
  
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 2px;
}

.navbar a:hover {
  background-color: 	 #007380;
  border-radius: 4px;
}

.active {
  background-color: #00454d;
  border-radius: 4px;
}

/* homepage  */

.main-content {
    width: 50%;
    border: 2px solid #007380;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 10px;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 40%;
  border-radius: 10px;
}




/* Footer */

footer {
    background-color: #008a99;
}

footer a {
    color: white;
}

.footer-text {
    color: white;
}

.footer-menu a{
    display: block;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.footer-menu a:hover {
  text-decoration: none;
  color: #00454d;
}

.social-links a{  
    margin: 5px;
}

.social-links {
    padding-bottom: 5px;
    padding-top: 5px;
}


.social-links a:hover {
      text-decoration: none;
      color: #00454d;
}