body {
    background-color: 	#ecf3f7;
    font-family: 'Lato', sans-serif;
    color: 	#404040;
}



/* Navbar code based on tutorial from w3schools https://www.w3schools.com/howto/howto_css_navbar_icon.asp and amended to suit my required style */

.header-text {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    padding-left: 12px;
    padding-right: 12px;
    
}



.header-text:hover {
    background-color: 	 #007380;
    text-decoration: none;
    color: white;
   
   
}

.navbar {
  width: 100%;
  background-color: #008a99;
  overflow: auto;
}

.navbar-right a {
  float: right;
  
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 2px;
}

.navbar a:hover {
  background-color: 	 #007380;
  border-radius: 4px;
}

.active {
  background-color: #00454d;
  border-radius: 4px;
}

/* homepage  */

.main-content {
    width: 50%;
    border: 2px solid #007380;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 10px;

}

.mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 40%;
  border-radius: 10px;
}




/* Footer */

footer {
    background-color: #008a99;
}

footer a {
    color: white;
}

.footer-text {
    color: white;
}

.footer-menu a{
    display: block;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.footer-menu a:hover {
  text-decoration: none;
  color: #00454d;
}

.social-links a{  
    margin: 5px;
}

.social-links {
    padding-bottom: 5px;
    padding-top: 5px;
}


.social-links a:hover {
      text-decoration: none;
      color: #00454d;
}

/* Contact Form */

.contact-form {
	border: #008a99;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	background-color: #FBFCFC;
    padding: 50px;
    margin-top: 150px;
    margin-bottom: 100px;
    display: block;
}

.form-name {
	float: left;
	width: 35%;
	margin-top: 6px;
}

.form-text-box {
	float: left;
	margin-top: 4px;
}

input {
	width: 120%;
	height: 25px;
}

textarea {
	width: 120%;
	height: 425px;
}

.submit-button {
	border: #626567;
	border-width: 2px;
	border-radius: 4px;
	width: 60px;
	padding-bottom: 3px;
    margin: auto;
    margin-top: 15px;
}

.submit-text {
    padding-bottom: 30px;
}

.form-text {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

#map {
    
    height: 400px;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
}


/* Map */

h2 {
    font-size: 25px;
    text-align: center;
    margin: -5px;
}

h3 {
    font-size: 20px;
    margin-top: 5px;
}





/*----------gallery media queries----------*/

@media screen and (max-width: 1393px){
    #map {
        width: 50%;
    }

    .contact-form {
		width: 50%;
    }
    
    .mySlides {
        width: 40%;
    }
}


@media screen and (max-width: 992px) {

    #map{
        width: 70%;
    }

    .main-content  {
		width: 80%;
    }

    .contact-form {
		width: 60%;
    }
    
    .mySlides {
        width: 60%;
    }

}


@media screen and (max-width: 768px) {

     #map{
        width: 80%;
    }

    .main-content  {
		width: 70%;
    }

    .contact-form {
		width: 70%;
    }
    
    .mySlides {
        width: 70%;
    }

}


@media screen and (max-width: 576px)   {

    #map {
        width: 90%;
    }

    .contact-form {
		width: 80%;
    }
    
    .main-content {
        width: 80%;
    }

    .mySlides {
        width: 80%;
    }

    .form-text-box {
        width: 80%;
    }

    .contact-us-dropdown {
        width: 75%;
    }

}


@media screen and (max-width: 390px) {

    .header-text {
        font-size: 1.8em;

}
}

